<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDVjcYcfVWzwSvxNPvRc1C1tXNoDMsvrHw</string>
	<key>GCM_SENDER_ID</key>
	<string>1083493183172</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.avatarCourse25Shop</string>
	<key>PROJECT_ID</key>
	<string>shop-vc2</string>
	<key>STORAGE_BUCKET</key>
	<string>shop-vc2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1083493183172:ios:734acffa17083772f16391</string>
</dict>
</plist>